/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #f0f0f0;
    --secondary-color: #1c1c1c;
    --font-color: #121212;
    --tan: #cebb85;
    --tuatara: #3c3c3a;
    --tobacco-brown: #706345;
    --granite-green: #8c8c6d;
    --hemlock: #535438;
    --gray: #848484;
    --tundora: #4c4c4c;
    --rangitoto: #343c24;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: var(--tobacco-brown);
    color: #fff;
}

body {
    background: var(--primary-color);
    font-family: 'Roboto Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}